<div class="playlist-banner">
  <div class="playlist-cover">
    <img src="<%= cl_image_path(@listing.photo.key) %>" alt="Album Cover">
  </div>
  <div class="playlist-details">
    <h1 class="playlist-title">
      <span class="artist"><%= @listing.artist_name %></span> – <%= @listing.album_name %>
    </h1>
    <div class="playlist-meta">
      <span class="artist-name"><%= @listing.user.first_name %></span>
      <span class="dot">•</span>
      <span class="meta-info"><%= @listing.description %></span>
      <span class="dot">•</span>
      <span class="meta-info"><%= @listing.price_per_day %></span>
    </div>
  </div>
</div>


  <p>Artist: <%= @listing.artist_name %></p>
  <p>Tracklist: <%= @listing.tracklist %></p>
  <p>Description: <%= @listing.description %></p>
  <p>Genre: <%= @listing.genre %></p>
  <p><%= link_to "Preview on Youtube", @listing.youtube_url, target: "_blank" %></p>
  <p><%= @listing.price_per_day %>$</p>
  <% if user_signed_in? && current_user.id == @listing.user_id %>
    <p>Listing active: <%= @listing.active %></p>
  <% end %>
  <% if @listing.photo.attached? %>
    <%= cl_image_tag @listing.photo.key, height: 300, width: 300 %>
  <% end %>
  <p>User: <%= @listing.user.first_name %></p>

  <h2>Request to book</h2>
  <% if @listing.bookings.exists?(user: current_user) %>
  You have requested to book it!
  <% end %>
  <%= simple_form_for [@listing, @booking], url: listing_bookings_path(@listing) do |f| %>
  <%= f.input :date_start, as: :string, input_html: { data: { controller: "datepicker", datepicker_target: "input" } } %>
  <%= f.input :date_end, as: :string, input_html: { data: { controller: "datepicker", datepicker_target: "input" } } %>
  <%= f.button :submit, "Submit Request" %>
      <% end %>


  <%= link_to "Back to all listings", listings_path %>
  <% if user_signed_in? && current_user.id == @listing.user_id %>
    <%= link_to "Edit my listing", edit_listing_path(@listing) %>
    <%= link_to "Delete this record", listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Do you REALLY want to delete?"} %>
  <% end %>

  <% if user_signed_in? %>
  <%= link_to "Book this vinyl", new_listing_booking_path(@listing) %>
<% end %>
</div>
