<div class="playlist-banner">
  <div class="playlist-cover">
    <img src="<%= cl_image_path(@listing.photo.key) %>" alt="Album Cover">
  </div>
  <div class="playlist-details">
    <h1 class="playlist-title">
      <span class="artist"><%= @listing.artist_name %></span> – <%= @listing.album_name %>
    </h1>
    <div class="playlist-meta d-flex flex-column align-items-start mt-2">
      <span class="meta-info">Rented by: <%= @listing.user.first_name %></span>
      <span class="meta-info">Description: <%= @listing.description %></span>
      <span class="meta-info">Price per day: <%= @listing.price_per_day %></span>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-lg-7 mt-5">
        <p>Artist:
        <%= link_to @listing.artist_name, listings_path(query: @listing.artist_name) %> </p>
        <p>Tracklist: <%= @listing.tracklist %></p>
        <h3>Artist: <%= @listing.artist_name %></h3>
        <strong>Tracklist</strong>
        <ul class= "tracklist">
          <% @listing.tracklist.split("\n").each do |track| %>
            <li><%= track %></li>
          <% end %>
        </ul>
        <p>Description: <%= @listing.description %></p>
        <p>Genre:
        <%= link_to @listing.genre, listings_path(query: @listing.genre) %> </p>
        <p><%= link_to "Preview on Youtube", @listing.youtube_url, target: "_blank" %></p>
        <p>Price per day: <%= @listing.price_per_day %>€</p>
        <% if user_signed_in? && current_user.id == @listing.user_id %>
          <p>Listing active: <%= @listing.active %></p>
        <% end %>
        <p>User:
        <%= link_to @listing.user.first_name, listings_path(query: @listing.user.first_name) %> </p>

        <%= link_to "Back to all listings", listings_path %>
        <% if user_signed_in? && current_user.id == @listing.user_id %>
          <%= link_to "Edit my listing", edit_listing_path(@listing) %>
          <%= link_to "Delete this record", listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Do you REALLY want to delete?"} %>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to "Book this vinyl", new_listing_booking_path(@listing) %>
        <% end %>
      </div>
      <div class="col-sm-10 col-lg-3 mt-5">
        <h2 class="mb-5">Book this vinyl</h2>
        <%= render "bookings/form" %></div>
    </div>
  </div>
</div>
