<div>
<h1><%= @listing.album_name %></h1>
<p><%= @listing.artist_name %></p>
<p><%= @listing.tracklist %></p>
<p><%= @listing.description %></p>
<p><%= @listing.genre %></p>
<p><%= @listing.youtube_url %></p>
<p><%= @listing.price_per_day %>$</p>
<p><%= @listing.active %></p>
<%= cl_image_tag @listing.photo.key %>
<p>User : <%= @listing.user.first_name %></p>
<%= link_to "Edit my listing", edit_listing_path(@listing) %>
<%= link_to "Back to all listings", listings_path %>
<%= link_to "Delete this record", listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Do you REALLY want to delete?"} %>

</div>
