<div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@listing.photo.key) %>)">
    <h1><%= @listing.album_name %></h1>
  </div>

  <p>Artist: <%= @listing.artist_name %></p>
  <p>Tracklist: <%= @listing.tracklist %></p>
  <p>Description: <%= @listing.description %></p>
  <p>Genre: <%= @listing.genre %></p>
  <p><%= link_to "Preview on Youtube", @listing.youtube_url, target: "_blank" %></p>
  <p><%= @listing.price_per_day %>$</p>
  <% if user_signed_in? && current_user.id == @listing.user_id %>
    <p>Listing active: <%= @listing.active %></p>
  <% end %>
  <% if @listing.photo.attached? %>
    <%= cl_image_tag @listing.photo.key, height: 300, width: 300 %>
  <% end %>
  <p>User: <%= @listing.user.first_name %></p>

  <%= link_to "Back to all listings", listings_path %>
  <% if user_signed_in? && current_user.id == @listing.user_id %>
    <%= link_to "Edit my listing", edit_listing_path(@listing) %>
    <%= link_to "Delete this record", listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Do you REALLY want to delete?"} %>
  <% end %>

  <% if user_signed_in? %>
  <%= link_to "Book this vinyl", new_listing_booking_path(@listing) %>
<% end %>
</div>
