<div>
  <h1> My Bookings: </h1>
</div>

  <% if @bookings.length > 0 %>
  <div class="card-container">
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <% if booking.listing.photo.attached? %>
          <%= cl_image_tag booking.listing.photo.key %>
        <%end%>

      <div class="card-product-infos">
        <h2> <%= booking.listing.album_name %></h2>
        <p><strong>Start Date: </strong><%= booking.date_start.present? ? booking.date_start.strftime("%b %d, %Y") : "Not set" %></p>
        <p><strong>End Date: </strong><%= booking.date_end.present? ? booking.date_end.strftime("%b %d, %Y") : "Not set" %></p>
        <p><strong>Total Price:</strong> <%= number_to_currency(booking.total_price, unit: "€") %></p>
        <% if booking.accepted == true %>
          <% booking.update(status: "accepted")%>
        <% elsif booking.accepted == false %>
          <% booking.update(status: "refused")%>
        <% end %>
        <p><strong>Status: </strong><%= booking.status%></p>
      </div>
      </div>
    <%end%>
    </div>
  <% end %>
