<div>
  <h1> My Bookings: </h1>

  <% if @bookings.length > 0 %>
<div class="card-product">
    <% @bookings.each do |booking| %>
      <div class="card card-product">
        <% if booking.listing.photo.attached? %>
          <%= cl_image_tag booking.listing.photo.key %>
        <%end%>
      </div>

      <div class="card-product-infos">
        <h2><%= booking.listing.album_name %></h2>
        <p><%= booking.date_start%></p>
        <p><%= booking.date_end%></p>
        <% if booking.accepted == true %>
          <% booking.status = "accepted" %>
        <% elsif booking.accepted == false %>
          <% booking.status = "refused" %>
        <% end %>
        <p><%= booking.status%></p>
      </div>
    <%end%>
    </div>
  <% end %>
</div>
