<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class = "p-4">
        <h2>Just a few days before you can enjoy listening to <%= @booking.listing.artist_name %></h2>

        <div class="card-product ">
          <% if @booking.listing.photo.attached? %>
            <%= cl_image_tag @booking.listing.photo.key %>
          <%end%>
        </div>

        <div class="card-product-infos mt-4">
          <h2><%= @booking.listing.album_name %></h2>
          <p>Start date <%= @booking.date_start%></p>
          <p>End date <%= @booking.date_end%></p>
          <p><%= @booking.status%>
        </div>

        <% if user_signed_in? %>
        <%= link_to "Back to my bookings", bookings_path %>
        <%= link_to "Find new vinyls", listings_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
