<div class="container my-4">
  <div class="mb-5">
    <h1>About Me</h1>
    <ul class="list-unstyled">
      <li>
        <strong>First Name:</strong> <%= @user.first_name %> &nbsp;
        <strong>Last Name:</strong> <%= @user.last_name %>
      </li>
      <li><strong>Bio:</strong> <%= @user.bio.presence || "No bio added yet." %></li>
    </ul>

    <div class="mt-3">
      <% if @user.bio.blank? %>
        <%= link_to "Add a bio", edit_about_me_path, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Edit my bio", edit_about_me_path, class: "btn btn-primary button" %>
      <% end %>
    </div>
  </div>

<div style="width: 40%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <h2 class="mb-4">List of All Vinyls</h2>

  <% if @listings.any? { |listing| listing.active? } %>
    <div class="card-container">
      <% @listings.each do |listing| %>
        <% if listing.active? %>
          <div class="card-product">
            <% if listing.photo.attached? %>
              <%= cl_image_tag listing.photo.key, class: "card-img-top", alt: listing.album_name %>
            <% end %>

            <div class="card-product-infos">
              <h2><%= listing.album_name %></h2>
              <p><strong>Artist:</strong> <%= listing.artist_name %></p>
              <p><strong>Genre:</strong> <%= listing.genre %></p>
              <p><strong>Price:</strong> <%= number_to_currency(listing.price_per_day, unit: "€") %></p>
              <%= link_to "See vinyl details", listing_path(listing), class: "btn btn-outline-primary btn-sm mt-2" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>You have no active vinyl listings.</p>
  <% end %>
</div>
