<div class="container-fluid full-height">
<div class="row justify-content-center">
    <div class="col-10 ms-5 my-3">
    <h1 class="mb-5">About me</h1>
      <p><strong>First name:</strong> <%= @user.first_name %></p>
      <p><strong>Last name:</strong> <%= @user.last_name %></p>
      <p><strong>Location:</strong> <%= @user.city %></p>
      <p class="mb-4"><strong>Bio:</strong> <%= @user.bio.presence || "No bio added yet." %></p>

      <% if @user.bio.blank? %>
        <%= link_to "Add bio", edit_about_me_path, class: "button" %>
      <% else %>
        <%= link_to "Edit bio", edit_about_me_path, class: "button" %>
      <% end %>

  </div>
  </div>

<!--<div style="width: 40%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>-->
<div class="row justify-content-center">
  <div class="col-10 ">
  <h1 class="mt-5 mb-4 ms-4">List of my vinyls</h1>

  <% if @listings.any? { |listing| listing.active? } %>
    <div class="card-container">
        <% @listings.each do |listing| %>
          <% if listing.active? %>
            <div class="card-product">
              <% if listing.photo.attached? %>
              <%= cl_image_tag listing.photo.key %>
              <% end %>
              <div class="card-product-infos">
            <h2><%= listing.album_name %></h2>
            <p><i class="fa-solid fa-podcast"></i>  <%= listing.artist_name %></p>
            <p><i class="fa-solid fa-tag"></i> <%= listing.genre %></p>
            <p class="mb-4"><%= listing.price_per_day %> € / per day</p>
            <%= link_to "See vinyls details", listing_path(listing), class:"button"%>
          </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <p>You have no active vinyl listings.</p>
  <% end %>
</div>
</div>
</div>
